<!DOCTYPE html>
<html lang="<%= locals.locale? locale : 'en' %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('mail.newNotification.neue-benachrichtigung') %></title>
  </head>
  <body>
    <h1 style="text-align: center">
      🔔 <%= t('mail.newNotification.du-hast-eine-neue-benachrichtigung') %> 🔔
    </h1>

    <p><%= t('mail.general.hallo-username', {username}) %></p>

    <!-- TODO: show notificationTitle -->
    <p><%= t('mail.newNotification.info-text-1') %></p>

    <p style="margin: 32px 0px; text-align: center">
      <a
        type="button"
        style="
          background-color: #0069d9;
          color: white;
          padding: 16px 24px;
          border-radius: 4px;
        "
        href="<%= frontendDomain %>/login/?sso=<%= ssoToken %>"
      >
        <%= t('mail.newNotification.jetzt-einloggen-und-nachricht-lesen') %>
      </a>
    </p>

    <p>
      <%= t('mail.confirmEmail.info-text-2') %>
      <a href="<%= frontendDomain %>/login/?sso=<%= ssoToken %>">
        <%= frontendDomain %>/login/?sso=<%= ssoToken %>
      </a>
    </p>

    <p style="text-align: center">
      <%= t('mail.newNotification.dieser-link-ist-gueltig-bis') %> <%=
      expirationDate %>
    </p>

    <p><%= t('mail.newNotification.info-text-2') %></p>
    <p>
      <%- t('mail.newNotification.info-text-3') %><!-- njsscan-ignore: ejs_ect_template -->
    </p>

    <p><%= t('mail.general.goodbye') %></p>

    <p>
      <%- t('mail.general.sender') %><!-- njsscan-ignore: ejs_ect_template -->
    </p>

    <p>
      <small>
        <%- t('mail.general.auto-email-info') %><!-- njsscan-ignore: ejs_ect_template -->
      </small>
    </p>

    <hr />

    <img
      src="cid:choreo-planer-icon"
      alt="Choreo Planer Icon"
      width="100"
      height="100"
    />

    <p>
      <a href="https://www.choreo-planer.de">www.choreo-planer.de</a><br />
      <a href="mailto:info@choreo-planer.de">info@choreo-planer.de</a>
    </p>
  </body>
</html>
