<!DOCTYPE html>
<html lang="= locals.locale? locale : 'en' %>">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <main class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col col-auto">
          <h1><%= tn('entities.admin', 2) %></h1>
        </div>
        <div class="col col-auto">
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#adminCreateModal"
          >
            <i class="bi bi-plus-lg"></i>
            <%= t('general.add') %>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><%= t('admin.users.username') %></th>
              <th scope="col"><%= t('entities.created-at') %></th>
              <th scope="col"><%= t('entities.updated-at') %></th>
              <th scope="col"><%= t('entities.actions') %></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% adminList.forEach((admin, i) => { %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= admin.username %></td>
              <td><%= new Date(admin.createdAt).toLocaleString(locale) %></td>
              <td><%= new Date(admin.updatedAt).toLocaleString(locale) %></td>
              <td>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#adminUpdateModal"
                    data-bs-username="<%= admin.username %>"
                    data-bs-id="<%= admin.id %>"
                  >
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <% if (admin.id !== currentAdminId) { %>
                  <button
                    class="btn btn-danger btn-sm"
                    type="button"
                    data-delete-id="<%= admin.id %>"
                  >
                    <i class="bi bi-trash-fill"></i>
                  </button>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
          <tfoot class="table-group-divider">
            <tr>
              <td></td>
              <td>
                <b> <%= adminList.length %> </b>
                <%= tn('entities.admin', adminList.length) %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>

    <!-- Modal: Create Admin -->
    <div
      class="modal fade"
      id="adminCreateModal"
      tabindex="-1"
      aria-labelledby="adminCreateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="adminCreateModalLabel">
              <%= t('admin.admins.create-admin') %>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/admin/admins" method="POST">
            <div class="modal-body">
              <div class="mb-3">
                <label for="username" class="form-label"
                  ><%= t('admin.users.username')%></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                  placeholder="<%= t('admin.users.username')%>"
                />
                <div id="usernameHelp" class="form-text">
                  <%= t('admin.admins.min-6-characters') %>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"
                  ><%= t('admin.users.password')%></label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                  placeholder="<%= t('admin.users.password')%>"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                data-bs-dismiss="modal"
              >
                <i class="bi bi-trash"></i>
                <%= t('general.close')%>
              </button>
              <button type="submit" class="btn btn-success">
                <i class="bi bi-check2"></i> <%= t('general.save-changes')%>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--  Modal: Update Admin -->
    <div
      class="modal fade"
      id="adminUpdateModal"
      tabindex="-1"
      aria-labelledby="adminUpdateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="adminUpdateModalLabel">
              <%= t('admin.admins.update-admin') %>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/admin/admins/update" method="POST">
            <div class="modal-body">
              <div class="d-none">
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  name="id"
                  required
                  placeholder="id"
                />
              </div>
              <div class="mb-3">
                <label for="username" class="form-label"
                  ><%= t('admin.users.username') %></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                  placeholder="<%= t('admin.users.username') %>"
                />
                <div id="usernameHelp" class="form-text">
                  <%= t('admin.admins.min-6-characters') %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                data-bs-dismiss="modal"
              >
                <i class="bi bi-arrow-counterclockwise"></i>
                <%= t('general.close') %>
              </button>
              <button type="submit" class="btn btn-success">
                <i class="bi bi-check2"></i> <%= t('general.save-changes') %>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer><%- include('./partials/footer'); %></footer>

    <script type="text/javascript" defer nonce="<%= cspNonce %>">
      const updateModal = document.getElementById("adminUpdateModal");
      if (updateModal) {
        updateModal.addEventListener("show.bs.modal", (event) => {
          const button = event.relatedTarget;
          const username = button.getAttribute("data-bs-username");
          const id = button.getAttribute("data-bs-id");
          const modalUserName = updateModal.querySelector(
            "input[name='username']"
          );
          const modalId = updateModal.querySelector("input[name='id']");
          modalUserName.value = username;
          modalId.value = id;
        });
      }
    </script>
    <script type="text/javascript" defer nonce="<%= cspNonce %>">
      const deleteButtons = document.querySelectorAll("[data-delete-id]");
      deleteButtons.forEach((button) => {
        button.addEventListener("click", () => {
          const id = button.getAttribute("data-delete-id");
          deleteAdmin(id);
        });
      });

      function deleteAdmin(id) {
        if (
          confirm(
            "<%= t('admin.admins.are-you-sure-you-want-to-delete-this-admin') %>"
          )
        ) {
          fetch(`/admin/admins/${id}`, {
            method: "DELETE",
          })
            .then((data) => {
              window.location.reload();
            })
            .catch((err) => {
              console.error(err);
              alert("<%= t('errors.something-went-wrong') %>");
            });
        }
      }
    </script>
  </body>
</html>
