<!DOCTYPE html>
<html lang="<%= locals.locale? locale : 'en' %>">
  <head>
    <%- include('./partials/head'); %>
    <style>
      .dashboardKPI {
        display: inline-block;
      }
      .dashboardKPI h2 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
      }
      .dashboardKPI .KPI {
        font-size: xx-large;
        font-weight: 700;
        margin-bottom: 0;
      }
      a.dashboardTile {
        display: block;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <main class="container">
      <h1><%= t('admin.index.dashboard') %></h1>
      <div class="row" style="row-gap: 16px">
        <% if (locals.newestFeedback) { %>
        <div class="col-12">
          <div class="px-5 py-4 bg-success-subtle rounded-3 mb-0">
            <small class="text-muted"
              ><%= t('admin.index.last-feedback') %></small
            >
            <p>
              <%= newestFeedback.stars %> <% for( let index = 0; index <
              parseInt(newestFeedback.stars); index++ ) { %>
              <i class="bi-star-fill text-success"></i>
              <% } %>
            </p>
            <b><%= newestFeedback.text %></b>
          </div>
        </div>
        <% } %> <% if (locals.userCount) { %>
        <div class="col-12 col-md-6">
          <a
            href="/admin/users"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: userTrend, count:
            userCount, label: tn('entities.user', userCount), icon: 'person' })
            %> <%- include('./components/dashboardKpis', { count:
            usersLoggedInPercentage + "%", label: t('admin.index.logged-in') ,
            icon: 'person-plus', trendText: "%", kpiTextVariant:
            usersLoggedInPercentage >= 30 ? (usersLoggedInPercentage >= 50 ?
            (usersLoggedInPercentage >= 90 ? 'success' : null) : 'warning') :
            'danger', class: "ms-4" }) %>
          </a>
        </div>
        <% } %> <% if (locals.adminCount) { %>
        <div class="col-12 col-md-6">
          <a
            href="/admin/admins"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: adminTrend,
            count: adminCount, label: tn('entities.admin', adminCount), icon:
            'person-gear' }) %>
          </a>
        </div>
        <% } %> <% if (locals.clubCount) { %>
        <div class="col-6 col-md-3">
          <a
            href="/admin/db/clubs"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: clubTrend, count:
            clubCount, label: tn('entities.club', clubCount), icon: 'house' })
            %>
          </a>
        </div>
        <% } %><% if (locals.teamCount) { %>
        <div class="col-6 col-md-3">
          <a
            href="/admin/db/teams"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: teamTrend, count:
            teamCount, label: tn('entities.team', teamCount), icon: 'people' })
            %>
          </a>
        </div>
        <% } %><% if (locals.seasonCount) { %>
        <div class="col-6 col-md-3">
          <a
            href="/admin/db/seasons"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: seasonTrend,
            count: seasonCount, label: tn('entities.season', seasonCount), icon:
            'calendar' }) %>
          </a>
        </div>
        <% } %><% if (locals.seasonTeamCount) { %>
        <div class="col-6 col-md-3">
          <div class="px-5 py-4 bg-body-secondary rounded-3 mb-0">
            <%- include('./components/dashboardKpis', { trend: seasonTeamTrend,
            count: seasonTeamCount, label: tn('entities.seasonTeam',
            seasonTeamCount) , icon: 'calendar-range'}) %>
          </div>
        </div>
        <% } %> <% if (locals.choreoCount) { %>
        <div class="col-6 col-md-4">
          <a
            href="/admin/db/choreos"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: choreoTrend,
            count: choreoCount, label: tn('entities.choreo', choreoCount), icon:
            'layout-three-columns' }) %>
          </a>
        </div>
        <% } %> <% if (locals.memberCount) { %>
        <div class="col-6 col-md-4">
          <a
            href="/admin/db/members"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend: memberTrend,
            count: memberCount, label: tn('entities.member', memberCount), icon:
            'people' }) %>
          </a>
        </div>
        <% } %><% if (locals.notificationPercentage != null) { %>
        <div class="col-6 col-md-4">
          <a
            href="/admin/notifications"
            class="dashboardTile px-5 py-4 bg-body-secondary rounded-3 mb-0"
          >
            <%- include('./components/dashboardKpis', { trend:
            notificationTrend, count: notificationPercentage + "%", label:
            t('admin.index.notifications-opened'), icon: 'bell', trendText: "%",
            kpiTextVariant: notificationPercentage >= 30 ?
            (notificationPercentage >= 50 ? (notificationPercentage >= 90 ?
            'success' : null) : 'warning') : 'danger' }) %>
          </a>
        </div>
        <% } %> <% if (locals.feedbackAverage) { %>
        <div class="col-6 col-md-4">
          <div class="px-5 py-4 bg-body-secondary rounded-3 mb-0">
            <%- include('./components/dashboardKpis', { trend: feedbackAverage -
            feedbackAverageOfLastMonth, count: feedbackAverage, label:
            t('entities.feedback'), icon: 'star' }) %>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
