<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main class="container">
      <h1>Users</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% userList.forEach((user, i) => { %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= user.username %></td>
            <td>
              <%= user.email %> <% if (user.email) { %> <% if
              (user.emailConfirmed) { %>
              <i class="bi-check-circle-fill text-success"></i>
              <% } else { %>
              <i class="bi-question-circle-fill text-warning"></i>
              <% } %> <% } %>
            </td>
            <td><%= new Date(user.createdAt).toLocaleString("en-EN") %></td>
            <td><%= new Date(user.updatedAt).toLocaleString("en-EN") %></td>
          </tr>
          <% }) %>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <td></td>
            <td>
              <b> <%= userList.length %> </b>
              Users
            </td>
            <td>
              <b> <%= userList.filter(u => u.email).length %> </b>
              Users with Email (<%= userList.filter(u => u.email
              &&!u.emailConfirmed ).length %>
              <i class="bi-question-circle-fill text-warning"></i>)
            </td>
          </tr>
        </tfoot>
      </table>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
